.about-block{
  display: block;
}
.about-contain{
  display: inline-block;
  padding: 15px;
  box-sizing: border-box;
  vertical-align: top;
}
.about-contain:first-child{
  width: 100%;
}
.about-contain:last-child{
  float: right;
}
.about-contain ul{
  padding: 0;
}
.about-contain ul li{
  list-style-type: none;
  margin-bottom: 10px;
}
.about-contain h2{
  margin-top: 0px;
}
.about-contain ul li i, .about-contain strong{
  color: var(--color-primary);
}

/***** Media Query *****/

/* Mobile */
@media (min-width: 320px) {
  .about-contain{
    width: 100%;
  }
}

/* Tablette */
@media (min-width: 576px) {
  .about-contain{
    width: 49%;
  }
}

/* Laptop */
@media (min-width: 992px) {

}

/* TV */
@media (min-width: 1441px) {
}
