.offers-container{
  background-color: var(--color-shadow);
}
.emplois-populaires{
  padding-bottom: 15px;
  padding-top: 15px;
}
.emplois-populaires-container{
}
.ep-voir-plus{
  margin-top: 15px;
}

.ep-block{
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin-right: 15px;
  color : var(--color-text) !important;
  background-color: white;
  margin-bottom: 15px;
  border-radius: 0 var(--border-radius-size) var(--border-radius-size) 0;
}
.ep-block:hover{
  box-shadow: -1px 2px 6px var(--color-text);
}
.ep-icon{
  display: none;
  width: 15%;
  height: 100%;
  vertical-align: 50%;
}
.ep-text{
  display: inline-block;
  width: 100%;
}
.ep-id{
  font-size: 0.9em;
  display: inline-block;
  padding: 15px 15px 0 5px;
}
.ep-title{
  display: block;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: "--";
  font-weight: bold;
  color: var(--color-primary);
  padding: 5px 15px 0 5px;
  height: 3.7em;
  text-transform: capitalize;
}
.ep-footer{
  display: flex;
}
.ep-added_at{
  text-align: right;
}
.ep-city, .ep-added_at{
  font-size: 0.9em;
  flex: 1;
  padding: 0 15px 15px 5px;
}
.ep-city i, .ep-added_at i{
  font-size: 0.9em;
  margin-right: 2px;
  vertical-align: baseline !important;
}

/***** Media Query *****/

/* Mobile */
@media (max-width: 575px) {
  .ep-block{
    width: 100% !important;
  }
}

/* Tablette */
@media (max-width: 991px) {
  .ep-block{
    width: 47%;
  }
  .emplois-populaires{
    padding: 15px;
  }
}

/* Laptop */
@media (min-width: 992px) {
  .ep-block{
    width: 31%;
  }
}

/* TV */
@media (min-width: 1441px) {
}
