@-ms-viewport {
  width: device-width;
}

a{
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;
}
a:hover{
  color: var(--color-tertiary);
}
h2{
  color: var(--color-primary);
  text-transform: uppercase;
}

body {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  font-family: 'Lato';
  color: #555;
}

.vertical-align-bottom{
  vertical-align: bottom !important;
}
.cursor-pointer{
  cursor: pointer;
}
.position-relative{
  position: relative !important;
}
.float-right{
  float: right !important;
}
.padding-vertical{
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.form-required{
  content: "*" !important;
}
.form-required::after{
  content: "*" !important;
}
.margin-bottom-none{
  margin-bottom: 0 !important;
}
.margin-top-none{
  margin-top: 0 !important;
}

/* Ajout de l'aside sur certainnes pages */
.aside .aside-block{
  background-color: var(--color-shadow);
  height: 200px;
  padding: 15px;
  box-sizing: border-box;
}


.container-box{
  background-position: center;
  background-size: cover;
  width:100%;
  padding: 0!important;
  margin-bottom:1px;
  display: block;
}
.container-box-shadow{
  height: 100%;
  margin: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
}
.container-box-body{
  margin: 0;
  height: 100%;
  color: white;
}

.btn{
  border: none;
  padding: 10px 25px !important;
  border-radius: var(--border-radius-size);
  cursor: pointer;
  text-transform: uppercase;
}
.btn-primary{
  color: var(--btn-primary-text-color);
  background-color: var(--btn-primary-bg-color);
}
.btn-primary:hover{
  background-color: var(--btn-primary-bg-hover-color);
}

/***** Media Query *****/

/* Mobile */
@media (min-width: 320px) {
  .hide-on-mobile{
      display: none !important;
  }
  .hide-on-laptop{
      display: inline-block !important;
  }
  .container-title{
    font-size: 1.5em;
    font-weight: bold;
  }
  .container-text_1{
    font-size: 1.3em;
  }
  .container-box{
    /*height: 250px;*/
  }
  .container-box-body{
    text-align: center;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Tablette */
@media (min-width: 576px) {
}

/* Laptop */
@media (min-width: 992px) {
  .hide-on-mobile{
      display: inline-block !important;
  }
  .hide-on-laptop{
      display: none !important;
  }
  .offset-10-laptop{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .container-title{
    font-size: 2.5em;
    font-weight: bold;
  }
  .container-text_1{
    font-size: 2em;
  }
  .container-box-body{
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .container-box{
    /*height: 400px;*/
  }


  /* Ajout de l'aside sur certainnes pages */
  .section_asside_block{
    display: grid;
    grid-column-gap: 5%;
    grid-template-columns: 60% 35%;
  }
  .section{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .aside{
    grid-column-start: 2;
    grid-column-end: 2;
  }

}

/* TV */
@media (min-width: 1441px) {
}
