@font-face {
 font-family: 'roboto-regular';
	src: url('/aost/outils/fonts/Roboto-Regular.ttf');
}

@-ms-viewport {
  width: device-width;
}

a{
  color: var(--color-primary);
  cursor: pointer;
  text-decoration: none;
}
a:hover{
  color: var(--color-tertiary);
}

body {
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.vertical-align-bottom{
  vertical-align: bottom !important;
}
.cursor-pointer{
  cursor: pointer;
}

.container-box{
  background-position: center;
  background-size: cover;
  width:100%;
  padding: 0!important;
  margin-bottom:1px;
  display: block;
}
.container-box-shadow{
  height: 100%;
  margin: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
}
.container-box-body{
  margin: 0;
  height: 100%;
  color: white;
}

.btn{
  border: none;
  padding: 5px 10px;
  border-radius: 25px;
  cursor: pointer;
}
.btn-primary{
  color: var(--btn-primary-text-color);
  background-color: var(--btn-primary-bg-color);
}
.btn-primary:hover{
  background-color: var(--btn-primary-bg-hover-color);
}

/***** Media Query *****/

/* Mobile */
@media (min-width: 320px) {
  .hide-on-mobile{
      display: none !important;
  }
  .hide-on-laptop{
      display: inline-block !important;
  }
  .container-title{
    font-size: 1.5em;
    font-weight: bold;
  }
  .container-text_1{
    font-size: 1.3em;
  }
  .container-box{
    /*height: 250px;*/
  }
  .container-box-body{
    text-align: center;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .container-box-body input{
      width: 300px;
      padding: 15px;
      border-radius: 25px;
      border: none;
      box-sizing: border-box;
      margin-top: 15px;
  }
  .container-box-body button{
      padding: 5px 15px;
      margin-top: 15px;
  }
}

/* Tablette */
@media (min-width: 576px) {
}

/* Laptop */
@media (min-width: 992px) {
  .hide-on-mobile{
      display: inline-block !important;
  }
  .hide-on-laptop{
      display: none !important;
  }
  .offset-10-laptop{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  .container-title{
    font-size: 2.5em;
    font-weight: bold;
  }
  .container-text_1{
    font-size: 2em;
  }
  .container-box-body{
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .container-box{
    /*height: 400px;*/
  }
  .container-box-body input{
    width: 500px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    box-sizing: border-box;
    margin-top: 15px;
  }
  .container-box-body button{
    width: 100px;
    padding: 5px;
    margin-top: 15px;
  }

}

/* TV */
@media (min-width: 1441px) {
}
