:root{
  --color-primary : #003068;
  --color-secondary : #66BFDE;
  --color-tertiary : #001935;
  --color-shadow : #eee; /* Utilisé pour les ombres et les couleurs grises */
  --color-text : #555;
  --color-danger : red; /* utilisé pour les actions de suppression, rouge par defaut */
  --color-danger-dark : darkred;
  --color-success : green; /* utilisé généralement pour les actions d'ajout, vert par defaut */
  --color-success-dark : darkgreen;

  --border-radius-size : 5px;

  /* Nav */
  --nav-text-color : white;
  --nav-bg-color : var(--color-primary);
  --nav-text-hover-color: var(--color-secondary);
  --subNav-text-color: var(--color-primary);
  --subNav-text-hover-color: var(--color-tertiaire);

  /* Nav mobile */
  --nav-mobile-text-color : var(--color-primary);
  --nav-mobile-hover-text-color : white;
  --nav-mobile-hover-bg-color : var(--color-primary);

  /* footer */
  --footer-bg-color : var(--color-primary);
  --footer-bg-color-dark : var(--color-tertiary);
  --footer-text-color : white;

  /* BTN */
  --btn-primary-text-color: white;
  --btn-primary-bg-color : var(--color-primary);
  --btn-primary-bg-hover-color : var(--color-tertiary);
  --btn-danger-text-color: white;
  --btn-danger-bg-color : var(--color-danger);
  --btn-danger-bg-hover-color : var(--color-danger-dark);
}
