header{
  background-color : var(--nav-bg-color);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 70px;
  z-index: 35;
  box-sizing: border-box;
  box-shadow: -1px 4px 6px var(--color-text);
}
.nav-contain-left{
  display: inline-block;
  padding-left: 0;
  box-sizing: border-box;
}
.nav-contain-right{
  display: inline-block;
  float: right;
}
.nav-logo{
  display: inline-block;
}
.nav-contain-right li, .nav-contain-left li, .nav-contain-right a, .nav-contain-left a{
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
}
.nav-contain-right li:hover, .nav-contain-left li:hover, .nav-contain-right a:hover, .nav-contain-left a:hover{
  color: var(--nav-text-hover-color) !important;
}
#navMobileBtn{
  color: white !important;
  border-bottom: none;
}
#navMobileBtn:hover{
  color: white !important;
  border-bottom: none;
}
.link-hover{
  color: var(--nav-text-hover-color) !important;
}
.link-mobile-hover{
  color: var(--nav-mobile-hover-text-color) !important;
  background-color: var(--nav-mobile-hover-bg-color);
}
.nav-contain-right li:hover ul, .nav-contain-left li:hover ul{
  display: block;
}
.nav-contain-right li:hover ul li, .nav-contain-left li:hover ul li{
  border-bottom: none;
}
.nav-contain-left li:hover .nav-link, .nav-contain-right li:hover .nav-link{
  background-color: var(--color-shadow);
  color: var(--color-primary) !important;
}


/* Nav mobile */
.nav-mobile{
  position: fixed;
  background-color: white;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 55;
}
.nav-mobile-header{
  background-color: var(--color-primary);
  color: white;
  padding: 15px;
  border-bottom: 1px solid var(--color-shadow);
}
.nav-mobile-body{
  padding: 0;
  margin-top: 0;
  list-style-type: none;
  height: 100%;
  overflow: auto;
}
.nav-mobile-body li{
  border-bottom: 1px solid var(--color-shadow);
}
.nav-mobile-body a{
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  padding: 15px;
  color: var(--nav-mobile-text-color);
  width: 100%;
  height: 100%;
}
.nav-mobile-body a:hover{
  color: var(--nav-mobile-hover-text-color);
  background-color: var(--nav-mobile-hover-bg-color);
}
#navMobileBtn i{
  font-size: 2.5em;
}


/***** Media Query *****/

/* Mobile */
@media (max-width: 575px) {
  .nav-logo span{
    font-size: 0.8em !important;
  }
}

/* Tablette */
@media (max-width: 991px) {
  .nav-container{
    height: 65px;
    padding: 0 10px;
  }
  .nav-logo img{
    height: 40px;
    margin-top: 10px;
  }
  .nav-logo span{
    display: inline-block;
    color: white;
    position: absolute;
    top: 22px;
    font-size: 1em;
    left: 60px;
  }
}

/* Laptop */
@media (min-width: 992px) {
  /*header{
    padding: 0;
    z-index: 35;
    position: relative;
  }*/
  .nav-container{
    padding: 0;
    height: 70px;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 0!important;
  }
  .nav-logo img{
    height: 40px;
    margin-top: 15px;
  }
  .nav-contain-right, .nav-contain-left{
    box-sizing: border-box;
    vertical-align: top;
    margin-top: 0px;
    height: 100%!important;
    overflow: hidden;
  }
  .nav-contain-right li, .nav-contain-left li{
  }
  .nav-link{
    box-sizing: border-box;
    display: inline-block;
    padding: 25px 5px !important;
    color : white;
  }
  .nav-contain-left li ul, .nav-contain-right li ul{
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    z-index: 20;
    box-sizing: border-box;
    background-color: var(--color-shadow);
    box-shadow: 0px 6px 6px #555;
    padding-bottom: 50px;
    padding-top: 35px;
    cursor: default;
    animation: fadeout 0.2s linear;
    display: none;
    overflow: hidden;
    width: 100%;
    border-radius: 0 0 var(--border-radius-size) var(--border-radius-size);
  }
  @keyframes fadeout{
    from{
      top: 100px;
    }
    to{
      top: 70px;
    }
  }
  .domain-block, .job-block li{
    display: inline-block;
    position: relative;
    width: 210px;
    box-sizing: border-box;
    vertical-align: top;
    margin-top: 15px;
    padding: 0 !important;
    margin-left: 10px;
    background-color: var(--nav-text-color);
    color : var(--color-text) !important;
    border-radius: 0 var(--border-radius-size) var(--border-radius-size) 0;
  }
  .domain-block:hover, .job-block li:hover{
    box-shadow: -1px 2px 6px var(--color-text);
  }
  .domain-block span, .job-block li a{
    display: inline-block;
    margin-bottom: -6px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    font-weight: bold;
    color: var(--color-primary) !important;
    text-transform: lowercase;
  }
  .domain-block span{
    min-height: 4.5em;
  }
  .domain-block span:hover, .job-block li a:hover{
    color: var(--color-primary) !important;
  }
  .job-block li{
    border-left : 3px solid var(--color-secondary);
  }
  .sub-link-hover{
    box-shadow: -1px 2px 6px var(--color-text);
    border-radius: 0 var(--border-radius-size) var(--border-radius-size) 0;
  }
}

/* TV */
@media (min-width: 1441px) {
}
