header{
  background-color : var(--nav-bg-color);
}
.nav-contain-left{
  display: inline-block;
  padding-left: 0;
}
.nav-contain-right{
  display: inline-block;
  float: right;
}
.nav-logo{
  display: inline-block;
}
.nav-contain-right li, .nav-contain-left li, .nav-contain-right a, .nav-contain-left a{
  display: inline-block;
  color: var(--nav-text-color);
  padding: 0 10px;
  text-decoration: none;
  cursor: pointer;
}
.nav-contain-right li:hover, .nav-contain-left li:hover, .nav-contain-right a:hover, .nav-contain-left a:hover{
  color: var(--nav-text-hover-color) !important;
}
#navMobileBtn:hover{
  color: white!important;
  border-bottom: none;
}
.link-hover, .sub-link-hover{
  color: var(--nav-text-hover-color) !important;
}
.link-mobile-hover{
  color: var(--nav-mobile-hover-text-color) !important;
  background-color: var(--nav-mobile-hover-bg-color);
}
.nav-contain-right li:hover ul, .nav-contain-left li:hover ul{
  display: block;
}
.nav-contain-right li:hover ul li, .nav-contain-left li:hover ul li{
  border-bottom: none;
}
.nav-contain-right li:hover, .nav-contain-left li:hover{
  border-bottom: 4px solid var(--nav-text-hover-color);
}


/* Nav mobile */
.nav-mobile{
  position: fixed;
  background-color: white;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 15;
}
.nav-mobile-header{
  background-color: var(--color-primary);
  color: white;
  padding: 15px;
  border-bottom: 1px solid var(--color-shadow);
}
.nav-mobile-body{
  padding: 0;
  margin-top: 0;
  list-style-type: none;
  height: 100%;
  overflow: auto;
}
.nav-mobile-body li{
  border-bottom: 1px solid var(--color-shadow);
}
.nav-mobile-body a{
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  padding: 15px;
  color: var(--nav-mobile-text-color);
  width: 100%;
  height: 100%;
}
.nav-mobile-body a:hover{
  color: var(--nav-mobile-hover-text-color);
  background-color: var(--nav-mobile-hover-bg-color);
}


/***** Media Query *****/

/* Mobile */
@media (min-width: 320px) {
  .nav-container{
    height: 65px;
    padding: 0 10px;
  }
  .nav-logo img{
    height: 40px;
    margin-top: 10px;
  }
}

/* Tablette */
@media (min-width: 576px) {
}

/* Laptop */
@media (min-width: 992px) {
  header{
    padding: 0;
    padding-top: 15px;
  }
  .nav-container{
    padding: 0;
    position: relative;
    height: 75px;
  }
  .nav-logo img{
    height: 40px;
    margin-bottom: 45px;
    display: inline-block;
  }
  .nav-contain-right, .nav-contain-left{
    height: 80px;
    vertical-align: top;
    margin-top: 0px;
  }
  .nav-contain-right li, .nav-contain-left li{
    padding-top: 15px;
    padding-bottom: 0px;
    height: 70% !important;
  }
  .nav-contain-left li ul, .nav-contain-right li ul{
    position: absolute;
    left: 0;
    right: 0;
    top: 75px;
    z-index: 20;
    background-color: var(--nav-text-color);
    box-shadow: 2px 2px 6px #555;
    padding-bottom: 50px;
    padding-top: 35px;
    cursor: default;
    display: none;
  }
  .nav-contain-left li ul a, .nav-contain-right li ul a{
    color: var(--subNav-text-color);
  }
  .domain-block{
    display: inline-block;
    position: relative;
    width: 195px;
    height: 100px;
    vertical-align: top;
    margin-top: 15px;
    padding: 0;
    margin-left: 10px;
    background-position: center;
    background-size: cover;
  }
  .domain-block div{
    position: absolute;
    display: inline-block;
    width: 100%;
    bottom: 0;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    left: 0;
    color: white;
    background-color: rgba(0,0,0,0.7);
  }
  .domain-block div:hover{
    height: 100px !important;
  }
}

/* TV */
@media (min-width: 1441px) {
}
